<!DOCTYPE html>
<html>
  <head>
    <title>Home | Ruby on Rails  Sample App</title>
  </head>
  <body>

  <% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      
       <section class="stats">
        <%= render 'shared/stats' %>
      </section>

      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3> Ideas</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
   <div class="center jumbotron">
  <h1>Explore business ideas</h1>
    <br>
  <h3>
    Finding a business idea does't have to be difficult
    <br>
    <br>
    <a href="#">Idea busket</a>
    Is full of potential billion dollar ideas
  </h3>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary","rakam-event-track"=>"Sign up now"%>
</div>
<% end %>
<%#= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>
<%#=link_to image_tag("kitten.jpg",alt:"cute kitten"),"#"%>
S
  </body>
</html>