<!DOCTYPE html>
<html>
  <head>
    <title> </title>
    <%=render 'layouts/rails-default' %>
    <%= render 'layouts/shim' %>
    
  </head>
  <body>
    <%= render 'layouts/header' %>
    
    <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>